/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

#load{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DD5536;
    z-index: 999;
}
.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -100px;
    transform: scale(2);
}
.ball-triangle-path > div {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
}

.loading{
    font-size: 60px;
    color: #FFFFFF;
    position: absolute;
    width: 120px;
    height: 68px;
    margin-left: -60px;
    margin-top: -34px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DD5536;
    overflow: hidden;
    /*background-image: url("../images/test/page1.png");*/
}

.imgs{
    position: absolute;
}

/*第一屏*/
.p1-1 {
    background-image: url("../images/p1/img1.png");
    left: 222px;
    top: 897px;
    width: 161px;
    height: 30px;
}

.p1-2 {
    background-image: url("../images/p1/img2.png");
    left: 222px;
    top: 654px;
    width: 205px;
    height: 216px;
}

.p1-3 {
    background-image: url("../images/p1/img3.png");
    left: 303px;
    top: 583px;
    width: 43px;
    height: 50px;
    z-index: 2;
}

.p1-4 {
    transform-origin: top;
    background-image: url("../images/p1/img4.png");
    left: 29px;
    top: 273px;
    width: 590px;
    height: 310px;
}

.p1-5{
    background-image: url("../images/p1/img5.png");
    left: 263px;
    top: 94px;
    width: 113px;
    height: 112px;
}

.p1-6 {
    background-image: url("../images/p1/img6.png");
    left: 21px;
    top: 1000px;
    width: 598px;
    height: 8px;
}

.p1-7 {
    background-image: url("../images/p1/img7.png");
    left: 22px;
    top: 943px;
    width: 594px;
    height: 65px;
}

/*第二屏*/
.p2-2 {
    background-image: url("../images/p2/img2.png");
    left: 245px;
    top: 57px;
    width: 148px;
    height: 153px;

}

.p2-4 {
    background-image: url("../images/p2/img4.png");
    left: 92px;
    top: 228px;
    width: 475px;
    height: 259px;

}

.p2-3 {
    background-image: url("../images/p2/img3.png");
    left: 0px;
    top: 227px;
    width: 568px;
    height: 840px;
}

.p2-1 {
    background-image: url("../images/p2/img1.png");
    left: 216px;
    top: 841px;
    width: 227px;
    height: 150px;
}

/*第三屏*/
.p3-3 {
    background-image: url("../images/p3/img3.png");
    left: 112px;
    top: 89px;
    width: 309px;
    height: 176px;
}

.p3-2 {
    background-image: url("../images/p3/img2.png");
    left: 450px;
    top: 127px;
    width: 168px;
    height: 138px;
}

.p3-1 {
    background-image: url("../images/p3/img1.png");
    left: 57px;
    top: 290px;
    width: 1769px;
    height: 1774px;
}

.p3-4 {
    background-image: url("../images/p3/img4.png");
    left: 57px;
    top: 845px;
    width: 89px;
    height: 87px;
}

/*第四屏*/
.p4-1 {
    background-image: url("../images/p4/img1.png");
    left: 239px;
    top: 174px;
    width: 242px;
    height: 181px;
    z-index: 3;
    transform-origin: 100% 100%;
}

.p4-2 {
    background-image: url("../images/p4/img2.png");
    left: 90px;
    top: 833px;
    width: 172px;
    height: 209px;
    z-index: 2;
}

.p4-3 {
    background-image: url("../images/p4/img3.png");
    left: -806px;
    top: 240px;
    width: 1398px;
    height: 1395px;
    z-index: 1;
}

.p4-6 {
    background-image: url("../images/p4/img6.png");
    left: -166px;
    top: 428px;
    width: 582px;
    height: 426px;
    z-index: 2;
}

.p4-7 {
    background-image: url("../images/p4/img7.png");
    left: 152px;
    top: 327px;
    width: 220px;
    height: 57px;
    z-index: 2;
    transform-origin: 50% 0%;
}

.p4-8 {
    background-image: url("../images/p4/img8.png");
    left: 66px;
    top: 85px;
    width: 173px;
    height: 126px;
}

.p4-4 {
    background-image: url("../images/p4/img4.png");
    left: 296px;
    top: 77px;
    width: 296px;
    height: 107px;
    z-index: 1;
}

.p4-5  {
    background-image: url("../images/p4/img5.png");
    background-size: 100% 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*第五屏*/
.p5-1 {
    background-image: url("../images/p5/img1.png");
    left: 77px;
    top: 80px;
    width: 195px;
    height: 111px;
    z-index: 1;
}

.p5-2 {
    background-image: url("../images/p5/img2.png");
    left: 77px;
    top: 80px;
    width: 269px;
    height: 158px;
}

.p5-3 {
    background-image: url("../images/p5/img3.png");
    left: 77px;
    top: 293px;
    width: 1050px;
    height: 1052px;
}

.p5-4 {
    background-image: url("../images/p5/img4.png");
    left: 413px;
    top: 57px;
    width: 170px;
    height: 157px;
}

/*第六屏*/
.p6-1 {
    background-image: url("../images/p6/img1.png");
    left: 87px;
    top: 568px;
    width: 465px;
    height: 352px;
    transform-origin: 50% 100%;
}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}